.frontImage {
    position: relative;
}

.featuredPost {
    color: white;
    background-color:rgb(28, 39, 54);
}

.interestingArticle {
    color: white;
    background-color: rgb(28, 39, 54);
}

.darkFooter {
    color: white;
    background-color:rgb(28, 39, 54);
}
.contactForm {
    background-color: ghostwhite;
}

.zoomOnHover {
    overflow: hidden;
}
.zoomOnHover img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
    object-fit: cover;
}
.zoomOnHover img:hover {
    transform: scale(1.2);
}

@media (min-width: 992px) {
    .featuredPost {
        background-color: rgba(0, 0, 0, 0);
        position: absolute;
        width: 50%;
        right: 0px;
        bottom: 10px;
        margin-left: 50px;
        margin-top: 20px;
    }
    
    .carousel-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        pointer-events: none;
    }
}